/AkiDataValidator/AkiTaiwanDataValidtor/target/*
/AkiStringUtils/target/*
/AkiDateTime/target/*
/AkiArticle/target/*
/AkiCast/target/*
/AkiWeb/target/*
/ImageUtils/target/*
/AkiImageUtils/target/*
/AkiDataValidator/AkiCommonDataValidator/target/*
/AkiEntity/target/*
/AkiFramework/AkiDataMiner/target/*
/AkiRegularExpression/target/*
/AkiMail/target/*
/AkiGoogleCalendar/target/*
*.class
*.jar
/AkiException/target/
/AkiFramework/AkiDataTransfer/target/
/AkiFileUtils/AkiExcel/target/
