/AkiDataValidator/AkiTaiwanDataValidtor/target/*
/AkiStringUtils/target/*
/AkiDateTime/target/*
/AkiArticle/target/*
/AkiCast/target/*
/AkiWeb/target/*
/ImageUtils/target/*
/AkiImageUtils/target/*
/AkiDataValidator/AkiCommonDataValidator/target/*
/AkiEntity/target/*
/AkiFramework/AkiDataMiner/target/*
/AkiRegularExpression/target/*
/AkiMail/target/*
/AkiGoogleCalendar/target/*
*.class
*.jar
/AkiException/target/
/AkiFramework/AkiDataTransfer/target/
/AkiFileUtils/AkiExcel/target/
/AkiFileUtils/AkiArchiveFile/target/
/AkiFileUtils/AkiFileExplorer/target/
/AkiEJB/target/
AkiArticle/nb-configuration.xml
AkiFileUtils/AkiFileExplorer/nb-configuration.xml
AkiFramework/AkiDataMiner/nb-configuration.xml
AkiMail/src/test/java/tw/dev/tomoaki/test/TestMain.java
AkiMail/src/test/java/tw/dev/tomoaki/test/TestMain.java
nb-configuration.xml
nb-configuration.xml
/AkiFileUtils/AkiFileIOUtils/target/
/AkiCountryUtils/target/
/AkiHttp/target/
